@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
}
.front-image img {
  height: 500px;
}
.menu-image img {
  height: 100px;
}
.container {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 20px;
}
.app-grid {
  display: grid;
  grid-template-rows: auto auto;
}

@media (max-width: 600px) {
  .app-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}

.navbar-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.content-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px 20px 20px 20px;
}
.menu-content-grid {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin: 10px;
}
.link-item a {
  padding: 20px 20px 20px 20px;
}
.desc {
  padding: 10px 30px 20px 30px;
}