@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
}
.front-image img {
  max-width: 100%;
  height: auto;
}
.menu-image img {
  height: 100px;
}
* .container {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 20px;
}
.app-grid {
  display: grid;
  grid-template-rows: auto auto;
}
.navbar-grid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: blueviolet;
  color: aliceblue;
  align-items: center;
}
.content-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  /* padding: 20px 20px 20px 20px; */
  background-color: rgb(197, 245, 229);
}
.menu-content-grid {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin: 10px;
}
@media (max-width: 600px) {
  /* .app-grid {
    grid-template-columns: auto;
  } */
  .navbar-grid {
    grid-template-columns: auto;
  }
  /* .content-grid {
    grid-template-columns: auto auto;
  } */
  .menu-content-grid {
    grid-template-columns: auto;
  }
}
.link-item {
  align-items: baseline;
}
.link-item a {
  padding: 20px 20px 20px 20px;
  color: aliceblue;
}
.desc {
  padding: 10px 30px 20px 30px;
}
body {
  margin: 0;
  padding : 0;
}
.sidebar {
  background-color: rgb(16, 92, 6);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 6px;
  text-decoration: none;
}

li a:hover {
  color: aliceblue;
  font-weight: bolder;
}